#imagem {
  position:relative;
  height:250px;
  width:300px;
  margin:0 auto;
}

#imagem img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

#imagem img.top:hover {
  opacity:0;
}

#imagem img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.carousel-caption{
  background-color:rgba(192,192,192,0.5);
}

.center-pills { 
  display: inline-block; 
}

p{
  text-align: justify;
}

li{
  text-align: justify;
}

h2{
  background-color:#be2c2c;
  color:white;
  font-size:22px;
  padding:5px;  
}
/*
     FILE ARCHIVED ON 02:26:45 Oct 13, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:10:48 May 31, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 259.987
  exclusion.robots: 0.186
  exclusion.robots.policy: 0.176
  RedisCDXSource: 21.161
  esindex: 0.009
  LoadShardBlock: 211.528 (3)
  PetaboxLoader3.datanode: 139.511 (4)
  CDXLines.iter: 23.234 (3)
  load_resource: 92.146
  PetaboxLoader3.resolve: 56.306
*/