label{
	color: #be2c2c;
}

.red{
	color: #be2c2c;
}
/*
     FILE ARCHIVED ON 00:45:15 Nov 18, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:08 May 31, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 130.805 (4)
  exclusion.robots: 0.222
  exclusion.robots.policy: 0.204
  captures_list: 142.248
  LoadShardBlock: 86.453 (3)
  CDXLines.iter: 34.461 (3)
  load_resource: 89.428
  PetaboxLoader3.resolve: 32.656
  cdx.remote: 0.13
  esindex: 0.016
*/